#### Prepared for Gabor's Data Analysis

### Data Analysis for Business, Economics, and Policy
by Gabor Bekes and  Gabor Kezdi
 
Cambridge University Press 2021

**[gabors-data-analysis.com ](https://gabors-data-analysis.com/)**

 License: Free to share, modify and use for educational purposes. 
 Not to be used for commercial purposes.

### Chapter 01
**CH01A Finding a Good Deal among Hotels: Data Collection**

hotels-vienna dataset

version 1.0 2021-05-05

### Chapter 01
#### First look at the hotels data

In [2]:
import os
import sys
import warnings

import numpy as np
import pandas as pd

warnings.filterwarnings("ignore")

In [3]:
# Current script folder
current_path = os.getcwd()
dirname = current_path.split("da_case_studies")[0]

# location folders
data_in = dirname + "da_data_repo/hotels-vienna/clean/"
data_out = dirname + "da_case_studies/ch01-hotels-data-collect/"
output = dirname + "da_case_studies/ch01-hotels-data-collect/output/"
func = dirname + "da_case_studies/ch00-tech-prep/"
sys.path.append(func)

In [1]:
# Import the prewritten helper functions 
from py_helper_functions import *

ModuleNotFoundError: No module named 'py_helper_functions'

In [5]:
# load in clean and tidy data and create workfile
df = pd.read_csv("data/hotels-vienna.csv")

# Download directly if you did not set up the folders
#df = pd.read_csv("https://osf.io/y6jvb/download")

In [6]:
rows, cols = df.shape
print("Rows:", rows)
print("Columns:", cols)

Rows: 428
Columns: 24

In [54]:
df

,country,city_actual,rating_count,center1label,center2label,neighbourhood,price,city,stars,ratingta,...,offer_cat,year,month,weekend,holiday,distance,distance_alter,accommodation_type,nnights,rating
0,Austria,Vienna,36.0,City centre,Donauturm,17. Hernals,81,Vienna,4.0,4.5,...,15-50% offer,2017,11,0,0,2.7,4.4,Apartment,1,4.4
1,Austria,Vienna,189.0,City centre,Donauturm,17. Hernals,81,Vienna,4.0,3.5,...,1-15% offer,2017,11,0,0,1.7,3.8,Hotel,1,3.9
2,Austria,Vienna,53.0,City centre,Donauturm,Alsergrund,85,Vienna,4.0,3.5,...,15-50% offer,2017,11,0,0,1.4,2.5,Hotel,1,3.7
3,Austria,Vienna,55.0,City centre,Donauturm,Alsergrund,83,Vienna,3.0,4.0,...,15-50% offer,2017,11,0,0,1.7,2.5,Hotel,1,4.0
4,Austria,Vienna,33.0,City centre,Donauturm,Alsergrund,82,Vienna,4.0,3.5,...,15-50% offer,2017,11,0,0,1.2,2.8,Hotel,1,3.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Austria,Vienna,2.0,City centre,Donauturm,Wieden,109,Vienna,3.0,3.0,...,50%-75% offer,2017,11,0,0,1.5,3.8,Apartment,1,5.0
424,Austria,Vienna,145.0,City centre,Donauturm,Wieden,185,Vienna,5.0,4.0,...,15-50% offer,2017,11,0,0,0.8,3.6,Hotel,1,4.3
425,Austria,Vienna,112.0,City centre,Donauturm,Wieden,100,Vienna,4.0,4.5,...,0% no offer,2017,11,0,0,1.0,3.7,Hotel,1,4.4
426,Austria,Vienna,169.0,City centre,Donauturm,Wieden,58,Vienna,3.0,3.0,...,15-50% offer,2017,11,0,0,1.4,4.1,Hotel,1,3.2
427,Austria,Vienna,80.0,City centre,Donauturm,Wieden,110,Vienna,3.5,NaN,...,1-15% offer,2017,11,0,0,0.7,3.5,Apartment,1,4.0

In [10]:
df.index

RangeIndex(start=0, stop=428, step=1)

In [ ]:
df_sample_twohundred = df.sample(n=200, random_state=42)

In [ ]:
for i in range (3):
    df_sample_twenty = df.sample(n=20)
    average_price_twenty=df_sample_twenty['price'].mean()
    print(average_price_twenty)

127.35
117.4
126.95

In [49]:
for i in range (3):
    df_sample_fifty = df.sample(n=50)
    average_price_fifty=df_sample_fifty['price'].mean()
    print(average_price_fifty)

136.98
121.66
132.0

In [58]:
for i in range (3):
    df_sample_twohundred = df.sample(n=50)
    average_price_twohundred=df_sample_twohundred['price'].mean()
    print(average_price_twohundred)

123.0
128.78
140.02

In [59]:
average_price=df['price'].mean()
print(average_price)

131.36682242990653

In [11]:
############################################
# First look
############################################
df = df.filter(
    [
        "hotel_id",
        "accommodation_type",
        "country",
        "city",
        "city_actual",
        "neighbourhood",
        "center1label",
        "distance",
        "center2label",
        "distance_alter",
        "stars",
        "rating",
        "rating_count",
        "ratingta",
        "ratingta_count",
        "year",
        "month",
        "weekend",
        "holiday",
        "nnights",
        "price",
        "scarce_room",
        "offer",
        "offer_cat",
    ]
)

In [12]:
df.describe()

,hotel_id,distance,distance_alter,stars,rating,rating_count,ratingta,ratingta_count,year,month,weekend,holiday,nnights,price,scarce_room,offer
count,428.000000,428.000000,428.000000,428.000000,393.000000,393.000000,325.000000,325.000000,428.0,428.0,428.0,428.0,428.0,428.000000,428.000000,428.000000
mean,22153.502336,1.658879,3.718458,3.434579,3.970992,155.048346,3.990769,556.516923,2017.0,11.0,0.0,0.0,1.0,131.366822,0.598131,0.679907
std,146.858477,1.595673,1.631341,0.772278,0.577444,191.217435,0.482638,586.874582,0.0,0.0,0.0,0.0,0.0,91.580545,0.490850,0.467058
min,21894.000000,0.000000,0.600000,1.000000,1.000000,1.000000,2.000000,2.000000,2017.0,11.0,0.0,0.0,1.0,27.000000,0.000000,0.000000
25%,22027.750000,0.700000,2.700000,3.000000,3.700000,27.000000,3.500000,129.000000,2017.0,11.0,0.0,0.0,1.0,83.000000,0.000000,0.000000
50%,22155.500000,1.300000,3.400000,3.500000,4.000000,84.000000,4.000000,335.000000,2017.0,11.0,0.0,0.0,1.0,109.500000,1.000000,1.000000
75%,22279.250000,2.000000,4.400000,4.000000,4.400000,203.000000,4.500000,811.000000,2017.0,11.0,0.0,0.0,1.0,146.000000,1.000000,1.000000
max,22409.000000,13.000000,13.000000,5.000000,5.000000,1541.000000,5.000000,3171.000000,2017.0,11.0,0.0,0.0,1.0,1012.000000,1.000000,1.000000

In [13]:
df = df.filter(
    [
        "hotel_id",
        "accommodation_type",
        "country",
        "city",
        "city_actual",
        "center1label",
        "distance",
        "stars",
        "rating",
        "price",
    ]
)

### Table 1.1

In [14]:
df.head()

,hotel_id,accommodation_type,country,city,city_actual,center1label,distance,stars,rating,price
0,21894,Apartment,Austria,Vienna,Vienna,City centre,2.7,4.0,4.4,81
1,21897,Hotel,Austria,Vienna,Vienna,City centre,1.7,4.0,3.9,81
2,21901,Hotel,Austria,Vienna,Vienna,City centre,1.4,4.0,3.7,85
3,21902,Hotel,Austria,Vienna,Vienna,City centre,1.7,3.0,4.0,83
4,21903,Hotel,Austria,Vienna,Vienna,City centre,1.2,4.0,3.9,82

In [16]:
import os

os.makedirs(output, exist_ok=True)  # creates all intermediate directories if needed
df.loc[0:4].to_csv(output + "hotel_listobs.csv", index=False)

In [20]:
print(len(df))

rows, cols = df.shape
print("Rows:", rows)
print("Columns:", cols)

428
Rows: 428
Columns: 10